<!DOCTYPE html>
<html>
<head>
    <title>Course Details</title>
</head>
<body>
    <h1>Course Details</h1>
    <h2>Course: {{ course.course_name }}</h2>
    <p>Course ID: {{ course.course_id }}</p>
    <p>Department: {{ course.department_name }}</p>
    <p>Theoretical Hour: {{ course.theoretical_hour }}</p>
    <p>Practical Hour: {{ course.practical_hour }}</p>
    <p>Branch: {{ course.branch }}</p>
    <p>Credit: {{ course.credit }}</p>
    <p>AKTS: {{ course.akts }}</p>
    <p>Course Type: {{ course.course_type }}</p>
    <p>Number of Registered Students: {{ registered_students }}</p>
</body>
</html>
